@import "../../../../styles/colors.module.scss";
.loading {
  color: black;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  width: 20rem;
  border-radius: 1rem;
  border-color: transparent;
  margin: 5px 5px;
  background-color: transparent;
}
.imgCard {
  height: 100%;
  border-radius: 0.5rem;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}
.cardTitle {
  font-size: 20px;
}
@media (max-width: 1013px) {
  .cards {
    justify-content: center;
  }
}

@media (max-width: 684px) {
  .cards {
    justify-content: center;
  }
}
