@import "../../../../styles/colors.module.scss";

.sectionTitle {
  font-size: 25px;
  font-weight: bold;
  color: $darkBlack;
  margin: 20px 30px;
}
.slideSectionBtn {
  margin: 20px 30px;

  color: $darkBlack;
  border-color: $darkBlack;
  &:hover {
    border-color: transparent;
    background-color: $mediumGray;
  }
}
