@import "./colors.module.scss";
.main {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, $lightGray, $mediumGray);
}
.searchContainer {
  flex: 1 0 auto;
}
.noSearchResult {
  text-align: center;
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  color: black;
}
